


.card {
  border-radius: 10px;
}

.w-100 {
  width: 100%;
}

input.form-control {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img.img-fluid {
  max-width: 120px;
  height: auto;
}
